@model doma.Models.BaiViet

@{
    ViewBag.Title = "Thêm bài viết";
}
@Html.Partial("_my_break_bar_top")
<script src="~/scripts/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="box box-info">
        <div class="box-header">
            <h3>Thêm bài viết</h3>

            <div class="col-lg-9">
                <div class="form-group">
                    <label class="control-label col-md-2">Tiêu đề</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.TieuDe, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TieuDe)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Link hình ảnh</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.linkHinh, new { @class = "form-control", @id = "linkhinh", @onchange = "changeimg()" })
                        @Html.ValidationMessageFor(model => model.linkHinh)
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="" id="preview_link_img" style="width: 200px;" />
            </div>
          
        </div>

        <div class="box-body">
            <div class="form-group">
                <label>Nội dung</label>
   
                    @Html.TextAreaFor(model => model.NoiDung, new { @class = "ckeditor" })
                    @Html.ValidationMessageFor(model => model.NoiDung)
  
            </div>
        </div>

        <div class="box-footer">
            <input type="submit" value="Create" class="btn btn-success" style="float:right;" />
            <a class="btn btn-default" href="../../admin">Hủy</a>
        </div>
    </div>
}

<script>
    function changeimg()
    {
        $('#preview_link_img').attr('src', $("#linkhinh").val());

    }
</script>