@{
    doma.Models.ProjectDMEntities db = new doma.Models.ProjectDMEntities();

    int count_new = db.DonHangs.Where(t => t.TinhTrang == 1).Count();
    int count_product = db.SanPhams.Count();
    int count_user = db.AspNetUsers.Count();
    int count_baiviet = 0;

    List<doma.Models.DonHang> _don_hang_moi = db.DonHangs.Where(t => t.TinhTrang == 1).ToList();
    List<doma.Models.DonHang> _don_hang_da_goi = db.DonHangs.Where(t => t.TinhTrang == 2).ToList();
    List<doma.Models.DonHang> _don_hang_dang_gui = db.DonHangs.Where(t => t.TinhTrang == 3).ToList();

    ViewBag.Title = "Quản trị";
}

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@count_new</h3>
                <p>Đơn đặt hàng mới</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@count_product</h3>
                <p>Sản phẩm</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@count_user</h3>
                <p>Người dùng</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@count_baiviet</h3>
                <p>Bài viết</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
</div>

<div class="box box-danger">
    <div class="box-header">
        <h3>Admin</h3>
    </div>

    <div class="box-body">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_orders" data-toggle="tab">Đơn hàng</a></li>
                <li><a href="#tab_products" data-toggle="tab">Sản phẩm</a></li>
                <li><a href="#tab_bosanpham" data-toggle="tab">Bộ Sản phẩm</a></li>
                <li><a href="#tab_users" data-toggle="tab">Người dùng</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_orders">

                    <h4>Đơn hàng mới đặt</h4>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <td><strong>Mã đơn hàng</strong></td>
                                <td><strong>Người đặt</strong></td>
                                <td><strong>Ngày giao hàng</strong></td>
                                <td><strong>Tình trạng</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (_don_hang_moi.Count > 0)
                            {
                                foreach (var item in _don_hang_moi)
                                {
                                    <tr style="cursor:pointer;" onclick="chitietdonhang(@item.ID)">
                                        <td>@item.ID</td>
                                        <td>@item.AspNetUser.HoTen</td>
                                        <td>@item.ThoiGianGiao <strong style="color:red;"> còn @((int)(item.ThoiGianGiao - DateTime.Now).TotalDays) ngày</strong></td>
                                        <td>
                                            <span class="badge bg-red">Mới, đang đợi gọi xác nhận</span>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="4">Chưa có đơn hàng nào</td></tr>
                            }
                        </tbody>
                        <tfoot></tfoot>
                    </table>

                    <hr />
                    <h4>Đã gọi xác nhận và đang chuẩn hàng</h4>

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <td><strong>Mã đơn hàng</strong></td>
                                <td><strong>Người đặt</strong></td>
                                <td><strong>Thời gian đặt</strong></td>
                                <td><strong>Tình trạng</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (_don_hang_da_goi.Count > 0)
                            {
                                foreach (var item in _don_hang_da_goi)
                                {
                                    <tr style="cursor:pointer;" onclick="chitietdonhang(@item.ID)">
                                        <td>@item.ID</td>
                                        <td>@item.AspNetUser.HoTen</td>
                                        <td>@item.ThoiGianGiao <strong style="color:red;"> còn @((int)(item.ThoiGianGiao - DateTime.Now).TotalDays) ngày</td>
                                        <td>
                                            <span class="badge bg-green-active">Đã gọi và đang chuẩn bị hàng</span>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="4">Trống</td></tr>
                            }
                        </tbody>
                        <tfoot></tfoot>
                    </table>

                    <hr />
                    <h4>Đang giao</h4>

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <td><strong>Mã đơn hàng</strong></td>
                                <td><strong>Người đặt</strong></td>
                                <td><strong>Thời gian đặt</strong></td>
                                <td><strong>Tình trạng</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (_don_hang_dang_gui.Count > 0)
                            {
                                foreach (var item in _don_hang_dang_gui)
                                {
                                    <tr style="cursor:pointer;" onclick="chitietdonhang(@item.ID)">
                                        <td>@item.ID</td>
                                        <td>@item.AspNetUser.HoTen</td>
                                        <td>@item.ThoiGianGiao <strong style="color:red;"> còn @((int)(item.ThoiGianGiao - DateTime.Now).TotalDays) ngày</td>
                                        <td>
                                            <span class="badge bg-blue-active">Đang gửi đi</span>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="4">Trống</td></tr>
                            }
                        </tbody>
                        <tfoot></tfoot>
                    </table>

                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="tab_products">
                    <a class="btn btn-success" href="../../admin/addproduct">Thêm sản phẩm</a>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td><strong>Tên</strong></td>
                                <td><strong>Đơn giá</strong></td>
                                <td><strong>Hình ảnh</strong></td>
                                <td><strong>Tình trạng</strong></td>
                                <td><strong>Số lượng còn lại</strong></td>
                                <td><strong>Chỉnh sửa</strong></td>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in db.SanPhams)
                            {
                                <tr>
                                    <td>@item.Ten</td>
                                    <td>@item.DioGia</td>
                                    <td>
                                        <img src="" />
                                    </td>
                                    <td>@item.TinhTrang</td>
                                    <td>@item.SoLuong</td>
                                    <td>
                                        <a href="../../admin/editproduct?id=@item.ID" class="btn btn-primary">Sửa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="tab_bosanpham">
                    <a class="btn btn-success" href="../../admin/addgroupproduct">Thêm bộ sản phẩm</a>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Tên bộ sản phẩm</td>
                                <td>Số lượng sản phẩm</td>
                                <td>Mô tả</td>
                                <td>Ngày tạo</td>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in db.BoSanPhams)
                            {
                                <tr style="cursor: pointer;" onclick="editgroupproduct(@item.ID)">
                                    <td>@item.ID</td>
                                    <td>@item.Ten</td>
                                    <td>@item.ChiTietBoSanPhams.Count()</td>
                                    <td>@item.Mota</td>
                                    <td>@item.NgayTao</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
                <div class="tab-pane" id="tab_users">

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <td>Ảnh</td>
                                <td>Họ tên</td>
                                <td>Số lượng đơn hàng</td>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in db.AspNetUsers)
                            {
                                <tr onclick="user('@item.Id')" style="cursor: pointer;">
                                    <td>
                                        <img src="@item.avatar" style="width:25px;" />
                                    </td>
                                    <td>@item.HoTen</td>
                                    <td>
                                        <span style="color:red;">@item.DonHangs.Where(t => t.TinhTrang > 1).Count()</span>
                                        /
                                        <span style="color:blue;">@item.DonHangs.Count()</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
                <!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div>
    </div>

    <div class="box-footer"></div>
</div>

<script>
    function chitietdonhang(id) {
        window.location.href = "../../admin/chitietdonhang/" + id;
    }

    function user(id) {
        window.location.href = "../../admin/userinfor/" + id;
    }

    function editgroupproduct(id) {
        window.location.href = "../../admin/editgroupproduct/" + id;
    }
</script>