@model doma.Models.RegisterViewModel
@{

}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="box box-info">
                <div class="box-header">
                    <h4>Đăng ký tài khoản</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>

                    <hr />
                    <h4>Thông tin cá nhân</h4>
                    <div class="form-group">
                        @Html.LabelFor(m => m.HoTen, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.HoTen, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SoDienThoai, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.SoDienThoai, new { @class = "form-control", placeholder = "Số điện thoại để tiện liên lạc" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DiaChi, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control", placeholder = "Ghi rõ địa chỉ để tiện liên lạc giao hàng tận nhà (Số nhà, đường, khu phố, phường)" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.avatar, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.avatar, new { @class = "form-control", @Value = "../../content/defaultavatar.png" })
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <input type="submit" class="btn btn-success" value="Đăng ký" />
                    <input type="submit" class="btn btn-default" value="Trở lại" style="float:right;" />
                </div>
            </div>
        }
    </div>
    <div class="col-lg-2">

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
