@using Microsoft.AspNet.Identity
@model doma.Models.ThongTinNguoiDungMuaHang
@{
    ViewBag.Title = "Thông tin";

    doma.Models.ProjectDMEntities db = new doma.Models.ProjectDMEntities();
    string userid = User.Identity.GetUserId();
    doma.Models.AspNetUser user = db.AspNetUsers.SingleOrDefault(t => t.Id == userid);
}
<script src="~/scripts/my_js/cart_index_controller.js"></script>

<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h3>
                Thông tin nơi nhận hàng
            </h3>
        </div>
        @using (Html.BeginForm("thongtin", "cart", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="box-body">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        <label>Tên người mua</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            <input class="form-control" value="@user.HoTen" type="text" required disabled />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SoDienThoai, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            @Html.TextBoxFor(m => m.SoDienThoai, new { @class = "form-control", @Value = @user.SoDienThoai })
                            @Html.ValidationMessageFor(m => m.SoDienThoai)
                        </div>


                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DiaChiGiao, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa  fa-map-marker"></i>
                            </div>
                            @Html.TextBoxFor(m => m.DiaChiGiao, new { @class = "form-control", @Value = @user.DiaChi })
                            @Html.ValidationMessageFor(m => m.DiaChiGiao)
                        </div>


                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ThoiGianGiao, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            @Html.TextBoxFor(m => m.ThoiGianGiao, new { @class = "form-control", @id = "datetimepicker1" })
                            @Html.ValidationMessageFor(m => m.ThoiGianGiao)
                        </div>

                    </div>
                </div>
            </div>
            <div class="box-footer clearfix">
                <button style="float:right;" type="submit" class="btn btn-success">Tiếp tục thanh toán</button>
                <button style="float:left; margin-right:5px;" class="btn btn-warning" onclick="backtocart()">Giỏ hàng</button>
                <button style="float:left;" class="btn btn-warning" onclick="continuesshoping()">Tiếp tục mua hàng</button>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });
    });

    function backtocart() {
        $window.location.href = "../../cart";
    }

    function continuesshoping() {
        $window.location.href = "../../home";
    }
    
</script>
